<table width="100%">
    <tr>
        <td background="images/ribbon.gif" style="border-radius:10px; padding:4px;">
            <table width="100%">
                <tr>
                    <td bgcolor="#ffffff" style="border-radius:7px; padding:0 20px;">
                        <p style="text-align:center;">Order today and get 5% discount on your next purchase!</p>
                        <center>
                            <button target="_blank" bgcolor="#f74d4a" color="#ffffff" radius="50px" href="http://google.com">Complete order!</button>
                        </center>
                        <br/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
